/* * {
        background-color: #f9fbf6;

} */
body {
    font-family: proxmia_nova, Helvetica, Arial, sans-serif;
    background-image: url("/img/smoothie-menu-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: left center; */
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
}

.container {
    width: 40%;
    margin-right: 30px;
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    color: #388e3c;
    margin-bottom: 30px;
}
form {
    background-color: #f9fbf6;
    border: solid #388e3c;
    border-radius: 12px;
    font-weight: bold;
    padding: 30px;
}

button {
    display: block;
    margin: 20px auto 0 auto;
    background-color: #388e3c;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

#output {
    margin: 30px auto;
    padding: 20px 30px;
    background-color: #f9fbf6;
    border: solid #388e3c;
    border-radius: 12px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
